# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Exercises\FTPClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
